* {
    border: none;
    border-radius: 4px;
    min-height: 0;
    font-family: "Hack Nerd Font";
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#tray,
#wireplumber,
#custom-power {
    padding: 2px 8px;
    color: #000;
    margin: 0px 8px 0px 0px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.24);
    font-weight: 500;
    font-size: 14px;
}

#workspaces button {
    margin: 2px;
    min-width: 0;
    padding: 2px 8px;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.24);
}

#workspaces button:hover {
    background: inherit;
    color: inherit;
    color: #000;
    text-shadow: 1px 1px 1px pink;
    background-color: #B6BFB8;
}

#workspaces button.active {
    background-color: #232925;
    color: #fff;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}