* {
    border: none;
    border-radius: 4;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 700;
    font-size: 15px;
    padding: 0;
}

/* window#waybar {
    background-color: rgba(236, 238, 236, 0.8);
} */

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#tray,
#memory,
#battery,
#pulseaudio,
#custom-todo {
    border: 2px solid #232925;
    background-color: #fff;
    padding: 4px 8px;
    color: #000;
    margin: 0px 2px 0px 2px;
}

#workspaces {
    border: 2px solid #232925;
    background-color: #fff;
}

#workspaces button {
    margin: 4px;
    min-width: 0;
    padding: 2px 8px;
    color: #000;
}

#workspaces button.active {
    background-color: #232925;
    color: #97B3A4;
}

#workspaces button:hover {
    background-color: #232925;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

/* #clock {
    border: 2px solid #434a4c;
    color: #d4be98;
} */

/* #tray {
} */

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}
