* {
  font-family: monospace;
  color: #000;
  background: transparent;
}

#window {
  background: rgba(182, 191, 184, 0.5);
  padding: 10px;
  border-radius: 8px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #E4EBE6;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  background-color: #E4EBE6;
}

#entry:selected {
  background-color: #fff;
}

#text {
  margin: 2px;
}
